# Project General
*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.propertises

# iOS Application specifics
/ios-app/ios-app.xcodeproj/xcuserdata/
